<h1>Contestant: <%= @contestant.name %></h1>
<p>Season <%=@contestant.season%> - <%=@contestant.season_description%></p>
<br>
<p>Outings:</p>
<%@outings.each do |outing|%>
  <li><%= link_to "#{outing.name}", "/outings/#{outing.id}", method: :get %></li>
<% end %>
