<p>Contestants for <%= @bachelorette.name %></p>

<p><%@contestants.each do |contestant|%></p>
  <li>Name: <%= link_to "#{contestant.name}", "/contestants/#{contestant.id}", method: :get %>, Age: <%= contestant.age%>, Hometown: <%= contestant.hometown%></li>
<% end %>
